
  <% if @artists.count > 0 %>
<h2>All the artists.</h2>
<ol>
    <% @artists.each do |artist| %>
  <li>
    <a href="/show/<%= artist.slug %>"><%= artist.name %></a>
  </li>
    <% end %>
</ol>
  <% else %>
<h2>No artists found yet.</h2>
  <% end %>
